header{
    background-color: rgb(23, 155, 148);
    width: 100%;
    display: flex;
}

header img {
    width: 150px;
}

header input {
    background-color: rgb(160, 160, 160);
    color: rgb(0, 0, 0);
    width: 50%;
    height: 30px;
    border: solid rgba(0, 0, 0, 0.555);
    border-radius: 5px;
    font-family: cursive;
}

.Logo {
    padding-top: 1%;
    padding-bottom: 0.75%;
    padding-left: 2%;
    width: 20%;
}

.container-input {
    position: left;
    padding-top: 45px;
    margin-right: 20%;
    width: 80%;
    text-align: right;
}